.call-to-action {
    /* margin: 100px auto; */
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url('/pictures/wp5211914.jpg');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.call-to-action h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}