footer {
    /* position: sticky;
    bottom: 0; */
    font-size: small;
    background: #000;
    color: magenta;
    font-variant: small-caps;
}
footer code a {
    text-decoration: none;
    color: rgb(250, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}