
/*----HERO-SECTION STYLES------*/
.hero-section {
    /* width: 90%; */
    color: rgb(235, 231, 231);
    padding: 20px;
}

.hero-section .row-container {
    display: flex;
    /* gap: 80px; */
    /* justify-content: space-evenly; */
    margin-top: 40px;
}

.row-container img {
    object-fit: contain;
    margin-left: 150px;
    margin-top: -90px;
    filter: hue-rotate(90deg);
}

.hero-section h1{
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: rgb(255, 166, 0) 2px 0, cyan 2px 0;
}

.hero-section > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0 30px;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
}


.hero-btn {
    background: magenta;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid white;
}
.hero2-btn {
    background: transparent;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: magenta;
    border: 1px solid #fff;
}

.hero-btn:hover {
    border: 1px solid magenta;
    background: transparent;
    color: magenta;
    transition: 1s ease;
}

.hero2-btn:hover {
    border: 1px solid white;
    background: magenta;
    color: black;
    transition: 1s ease;
}

.top-navigation .close-icon {
    display: none;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
.anim-para {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.7s linear forwards;
}
.anim-btn {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

