.portfolio h2 {
    text-align: left;
    margin-top: 2rem;
    font-size: 22px;
    font-variant: small-caps;
}


.portfolio-container {
    padding-right: 90px;
    padding-left: 90px;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem lightgrey;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease-in-out;
}

.portfolio-box img:hover {
    transform: scale(1.2);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgb(95, 26, 95));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0)
}

.portfolio-layer h4 {
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    color: #fff;
    padding-bottom: 15px;
    font-variant: small-caps;
}

.portfolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
    color: rgb(233, 233, 233);
    padding-top: 10px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: magenta;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #fff;
}
