* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: row;
    margin: 80px;
    padding-left: 80px;
    gap: 50px;
}

section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 10px 0 rgba(82, 81, 81, 0.2);
}

.about__us-content article {
    display: flex;
    justify-content: start;
    gap: 30px;
}

.about__us-content article .stats {
    box-shadow: 1px 2px 3px magenta;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about__us-content article .stats p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.about__us-content .about__info p {
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

















section > .left_side > .hero_section > p {
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section > .left_side > .stats_container {
    display: flex;
    justify-content: start;
    padding-top: 20px;
}

section > .left_side > .stats_container > .stats {
    box-shadow: 1px 2px 3px magenta;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

section > .left_side > .stats_container > .stats > p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* FORM */

.right_side {
    padding-right: 20px;
}

.right_side > h1 {
    padding-top: 15px;
    text-align: center;
}

.form_container {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

.form_btn{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}
.form_btn:hover {
    background-color: rgb(82, 172, 245);
    color: #fff;
}


/* BOXES */
.work_together {
    padding: 30px;
    margin: 30px;
    border: 1px solid magenta;
    border-radius: 5px;
    text-align: center;
}

.work_together > h1 {
    font-size: 20px;
    /* text-shadow: 1px 2px 2px mediumspringgreen; */
    text-transform: capitalize;
    padding-bottom: 10px;
}

.work_together p {
    font-size: 18px;
    letter-spacing: 1.3px;
    padding-top: 5px;
}

/* COLLAB */
.collab {
    padding: 20px;
    margin: 20px;
}

.collab > h1 {
    font-size: 16px;
    text-align: left;
}

.collab > .boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.collab > .boxes > .enterprenuer, .company {
    border: 1px solid magenta;
    padding: 10px;
    margin: 10px;
    text-align: left;
    box-shadow: 1px 2px 3px lightgrey;
}

.collab > .boxes > .enterprenuer > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.collab > .boxes > .company > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-variant: small-caps;
}


@media(max-width: 700px) {
    header > h1 {
        font-size: 20px;
    }
    section {
        display: block;
    }
    section > .left_side > .hero_section > p {
        font-size: 20px;
    }
    section > .left_side > .stats_container {
        display: none;
    }

    .form_container {
    margin-left: 20px;
    }

    .work_together > h1 , p{
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 10px;
    }
    .collab > h1 {
        font-size: 18px;
        text-align: left;
        padding-bottom: 20px;
    }
    .collab > .boxes {
        display: block;
    }
    .collab > .boxes > .enterprenuer, .company {
        margin-bottom: 20px;
        font-size: 25px;
    }
}
