
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.8em;
    text-decoration: none;
}


.container {
    margin-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
}

/* .container > h1 {
    text-align: center;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 25px;
    color: magenta;
    text-shadow: 1px 2px 1px #000;
}
.container > h1 span {
    font-size: 30px;
} */

.container > p {
    text-align: left;
    color: grey;
    padding-bottom: 20px;
}

.plans_container {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}

.plans_container > .card_container {
    background-color: lightgrey;
    max-width: 80%;
}

.card_container > .heading_block {
    background-color: rgb(243, 111, 243);
    border-radius: 3px;
}

.card_container > .heading_block > h1 {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
    text-shadow: 1px 2px 3px rgb(209, 205, 205);
}

.card_container > .card_info {
    text-align: left;
    padding: 20px;
}

.card_container > .card_info > h1 {
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.card_container > .card_info > h1 span {
    color: magenta;
    font-size: 12px;
    font-style: italic;
    font-family: cursive;
}

.card_info > .card_content ul li {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: disc;
    margin-left: 9px;
}

.card_info a {
    font-size: 12px;
}

.btn {
    background: magenta;
    color: #fff;
    font-size: 12px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s ease-in;
    margin-right: 10px;
}

.btn:hover {
    background: rgb(53, 50, 50);
    color: magenta;
    border: 1px solid #fff;
}

@media (max-width: 700px) {
    .container > p {
        text-align: center;
        color: grey;
        font-size: small;
    }
    .plans_container {
        display: block;
    }
}