* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.8em;
    text-decoration: none;
}

.container {
    padding-right: 120px;
    padding-left: 120px;
}

.container > h1 {
    text-align: center;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
}

.container > h4 {
    text-align: center;
    color: grey;
    font-size: 15px;
    padding-bottom: 20px;
}

.container > p {
    text-align: right;
    font-style: italic;
    font-weight: 600;
    color:magenta;
}

.container > .designs_wrapper {
    padding-right: 90px;
    padding-left: 90px;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.designs_wrapper > .design_container {
    border: 2px inset magenta;
}

.designs_wrapper > .design_container > a img {
    padding: 20px;
    /* margin-left: 20px; */
    object-fit: cover;
    transition: 2s ease-in-out;
}

.designs_wrapper > .design_container > a img:hover {
    transform: scale(2);
    border: 2px dashed red;
    object-fit: cover;
    background-color: rgb(24, 23, 23);
}

.design_container > .details_block {
    text-align: center;

}
.design_container > .details_block > h1 {
    padding-top: 10px;
    font-size: 15px;
    color: magenta;
    font-variant: small-caps;
}