body {
  background: rgb(240, 239, 239);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gbv-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/south-africa-gender-based-violence-protests.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3rem 3rem;
    text-align: center;
    transition: transform 0.3s ease;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(48, 47, 47);
}

.gbv-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    opacity: 0.9;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.gbv-paragraph {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

@keyframes fadeInUp {
  to { opacity: 1; transform: translateY(0); }
} 

/* Sections */
section {
  padding: 40px 60px 40px 10%;
}

.strategies h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.strategy-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: snow;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.support h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.support img {
  display: block;
  width: 70%;
  margin-left: 8rem;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(78, 77, 77, 0.3);
  transition: transform 0.3s;
} 

/* Video Section */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section p {
  margin-bottom: 1.1rem;
}

.video-section .caption {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

video {
  max-width: 50vh;
  border-radius: 5px;
}

.video-btn {
  background: #2c3e50;
  color: #fff;
  padding: 5px 20px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Helpline Popup */
.helpline-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(94, 93, 93, 0.3);
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.helpline-btn:hover {
  background-color: #5b7186;
}

.helpline-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 25px;
  background-color: #2c3e50;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  z-index: 100;
}

.helpline-popup.show {
  display: block;
}

.helpline-popup h3 {
  color: lightgray;
  margin-top: 0;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.helpline-popup button {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  cursor: pointer;
  width: 70%;
  margin-left: 3rem;
  margin-top: 10px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 { font-size: 2rem; }
  .hero p { font-size: 1rem; }
  .strategy-cards { grid-template-columns: 1fr; }
  section { padding: 40px 5%; }
  .helpline-popup { width: 200px; bottom: 70px; }
}
