.about-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/AboutUs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 3rem;
    text-align: center;
    transition: transform 0.3s ease;
    color: #fff;
}

.about-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    opacity: 0.9;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.about-paragraph {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

.mission-section {
    padding: 30px 120px;
    text-align: center;
    background-color: #f8f9fa;
}

.mission-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.mission-text {
    font-size: 1.8rem;
}

.programmes-section {
    padding: 40px 0;
    background: #fff;
}

.programmes-section h2 {
    text-align: center;
    font-size: 2rem;
}

.programmes-section .programmes-subheading {
    text-align: center;
    font-size: 1.6rem;
}

.programme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.programme-card {
    background: white;
    border-radius: 8px;
    padding: 25px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* border-top: 5px solid #c0392b; */
    transition:  0.3s ease;;

}

.programme-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.programme-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.programme-card h3 {
    color: #00509e;
    margin-bottom: 10px;
} 


.our-objectives {
    padding: 30px 20px;
    max-width: 900px;
    margin: 30px auto;
    transition: transform 0.3s ease;
}

.our-objectives h2 {
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #003366;
    font-size: 1.6rem;
}

.our-objectives ul li{
    list-style-type: none;
    line-height: 2.4rem;
    font-size: 1.4rem;
}


.leadership-section {
    padding: 60px 20px;
    text-align: center;
}

.board-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.board-member {
    width: 150px;
}

.board-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ddd;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.2em;
    }

    .section {
        padding: 20px 15px;
    }

    .mission-text {
        font-size: 1.4rem;
        text-align: left;
    }

    footer {
        padding: 25px 15px;
    } 
}