/* STYLES FOR DONATE PAGE ONLY */

:root {
    --primary-color: #2c3e50;
    --secondary-color: #2196F3;
    --accent-color: #FF6B6B;
    --text-dark: #333;
    --text-light: #666;
    --background-light: #f8f9fa;
}

.hero-section {
    height: 35vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/DonatePic.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    /* padding: 40px 20px; */
}

.hero-section h1{
    padding-top: 3rem;
    font-size: 2.5rem;
    opacity: 0.9;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* text-align: center; */
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.impact-section {
    padding: 20px 20px;
    background-color: var(--background-light);
}

.impact-section a{
    text-decoration: none;
}

.impact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.impact-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.impact-card:hover {
    transform: translateY(-5px);
}

.impact-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    display: block;
}

.donation-options {
    padding: 0 20px;
}

.donate-title {
    text-align: center;
}

.donate-subtitle {
    text-align: center;
}



.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 40px 0;
}

.donation-card {
    background: white;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.donation-card:hover {
    border-color: var(--primary-color);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.donation-card h3 {
    color: var(--text-dark);
    margin-bottom: 20px;
}

.platform-logo {
    height: 50px;
    margin: 20px 0;
    object-fit: contain;
}

.bank-details {
    /* background: var(--background-light); */
    /* padding: 25px; */
    border-radius: 8px;
    margin: 20px 0;
    text-align: left;
}

.btn-donate {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-top: 4rem;
}

.btn-donate:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 5px 15px rgba(44, 44, 44, 0.2); */
}

#bottom-impact {
    font-size: 1.2rem;
}
